<%= form_for(@daerah) do |f| %>
  <% if @daerah.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daerah.errors.count, "error") %> prohibited this daerah from being saved:</h2>

      <ul>
      <% @daerah.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :namadaerah %><br />
    <%= f.text_field :namadaerah %>
  </div>
  <div class="field">
    <%= f.label :deskripsidaerah %><br />
    <%= f.text_area :deskripsidaerah %>
  </div>
   <div class="field">
  	<%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
